 .button {
   border-radius: 12px;
   border:none;
   text-align: center;
}

.button__medium{
   padding: 16px 18px;
}

.button__small{
   padding: 12px 14px;
}

.button__big{
   padding: 19px 20px;
}

.button__secondary{
   color: #000;
   background-color: #fff;
   border:1px solid #1F41F7;
}

.button__primary{
   background-color: #1F41F7;
   color:#ffffff;
} 

.button:link,
.button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.button::after {
    content: "";
    display: inline-block;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}


.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.button-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


 