.toggle-switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 30px;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle-switch .switch::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #aaa;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(21px);
  background-color: #fff;
  
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #1F41F7;
}